.Header--nav{
    border-bottom: 10px solid #00ADEC;

    ul{
        display: flex;
        list-style: none;
        align-items: center;
        font-size: 2rem;
        gap: 30px;
        padding: 0px 100px;

        li:not(:first-child){
            a:hover{
                &::after{
                    content: "";
                    display: block;
                    height: 5px;
                    width: 100%;
                    background-color: #00ADEC;
                    margin-top: 10px;
                }
            }
        }

        li:nth-child(2){
            margin-left: auto;
        }
        a{
            color: #EC018C;
            text-decoration: none;
            font-weight: bold;
        }
    }
}